deploy_arm
deployment
*.vcxproj
*.o
*.vsp
*.cpp~*
*.h~*
*.orig
*.suo
*.sdf
*.filters
*.log
Makefile*
Makefile
Makefile.*
*.Release
*.Debug
release/
debug/
deploy/
*.lnk
*.ilk
*.lib
*.pdb
*.res
*.obj
*.ipch
*.report
*.manifest
*.embed.manifest
*.exp
*.user
platform.pro
*.refref
*.autosave
PDB
MapService
*.user*
Regexlog.txt
*.rar
*.tar.gz
*/*.so
export_message.xml
*.*~
*.~*
*.run
*.a
*.so.*
*.so
*.exe
*.rc
*.log
*.dump
*.temp
*.local
*.zip
c++
*.7z
*.dll
ui_*.h
moc_*.cpp
qrc_*.cpp
boost/
build/
Libs/
*.cppcheck
TestProjects/
Bimap/
EXE_regex_manager/
EXE_resend_manager/
makes/
QxTest/
RouteWidget/
SeparateRepos/
mngrParser/
!UML/*
deploy_*/*
debug/*
release/*
ExpImp/*
MapService*/*
*.rpm
*.tar.gz
*.o
*.obj
*.log.*
*.vsp
*.sdf
updater_app.run
ARMPDI
parser
ini_updater
